  <div class="row">
    <div class="col-md" style="background-color: #ff0000;">
      コンテンツA
    </div>
    <div class="col-md" style="background-color: #ffff00;">
      コンテンツA
    </div>
    <div class="col-md" style="background-color: #00ff00;">
      コンテンツA
    </div>
  </div>
