<div class="container">
  <div class="row">
    <%= link_to "containerサンプル", {action: :container} %>
  </div>

  <div class="row">
    <%= link_to "container_fluidサンプル", {action: :container_fluid} %>
  </div>
</div>

